.ideaOfSweden{
    padding: 48px 86px;

    .topSweden{
        max-width: 70%;
        width: 100%;
        margin: 0px auto;




        .Hder{
            font-size: 17px;
            line-height: 20px;
            letter-spacing: 1px;
            
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: rgb(32, 32, 32);
    margin: 0px 0px 16px;
    -webkit-letter-spacing: 1px;
    -moz-letter-spacing: 1px;
    -ms-letter-spacing: 1px;
        }

        .swedentext{
            color: rgb(32, 32, 32);
            text-align: center;
            margin: 0px;
            font-size: 16px;
            line-height: 24px;

        }

        .swedenSubtext{
            color: rgb(32, 32, 32);
            text-align: center;
            margin: 0px;
            font: 400 13px / 20px "Avenir Next";
        }

        .swendenLink{
            text-align: center;
            margin: 0px;
            font: 13px 
}
.shopLink{
    color: rgb(32, 32, 32);

}

        }

        @media screen and (max-width: 800px){
            .topSweden{
                max-width: 100%;
            }
        }

        @media screen and (max-width: 350px){
            padding: 20px 8px;
        }

    }
