.foot{
    height: 100%;
}
.svgContainer{
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    color: rgb(225,225,225);



    .rightContainer{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 50%;
        height: 100%;
        
        .svg{
            text-decoration: none;
            margin-right: 32px;           
            height: 30px;
            width: 30px;
            @media screen and (max-width: 800px){
                margin-right: 24px;           

            }

            .img{
                width: 100%;
                height: 100%;
            }
        }
    }
    .leftContainer{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        height: 100%;

        .svg{
            height: 30px;
            width: 42px;
            margin-left: 68px;           
            @media screen and (max-width: 800px){
                margin-left: 24px;           

            }
            .img{
                width: 100%;
                height: 100%;
            }
        }    
    
    }

    @media screen and (min-width: 320px) and(max-width: 425px){
      
          display: none;
   
    }
}
.alternative-Container{
    display: none;

    @media screen and (min-width: 320px) and(max-width: 425px){
        display: block;
      flex-direction: column;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: space-between;
      color: #e1e1e1;

      .leftContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50%;

        .svg{
            height: 30px;
            width: 42px;
            margin: 26px
        }
      }
      .rightContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50%;
        background-color: rgb(3,20,42);
        .svg{
            height: 30px;
            width: 42px;
            margin: 4px;
            .img{
                width: 100%;
                height: 100%;
            }
        }
      }
    }
}