.story{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 42px 84px;
    text-align: center;
    font-family: sans-serif;
    color:rgb(32, 32, 32);


.storybox{
    text-align: center;
    width: 70%;
    font-size: 16px;


    .storyheading{
        font-size: 16px;
        font-weight: 500;
    }

    .storyText{
        margin-top: 26px;
    }
    .storySectionLink{
        color:rgb(32, 32, 32);
        margin-right: 4px;
    }

}

@media screen and (max-width: 800px){
    .storybox{
        text-align: center;
        width: 100%;
        font-size: 16px;
        color: rgb(32, 32, 32);
        
    .storyheading{
        font-size: 16px;
        font-weight: 600;
    }
    }
}

@media screen and (min-width: 320px) and(max-width: 425px){
     padding: 40px 16px;

    .storybox{
        font-size: 13px;
        line-height: 20px;

        .storyheading{
            font-size: 13px;
            font-weight: 600;
            line-height: 19px;
            letter-spacing: 0.5px;
        }
    }
}

}